<h1><%%=t("activerecord.models.<%= singular_name %>") %></h1>

<%%= render 'form' %>

<%%= link_to t('scaffoldi18n.show'), @<%= singular_table_name %> %>  |
<%%= link_to t('scaffoldi18n.back'), <%= index_helper %>_path %>
